<app-nav-header title="About" subtitle="Who is Aaron?"></app-nav-header>

<main>
  <div class="section">
    <div class="container">
      <div class="content">

        <p>Full stack web developer at Australian IT system event security software company, <a href="https://www.intersectalliance.com/" target="_blank">Intersect Alliance</a>. Specialises in web application development using <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a href="https://angular.io/" target="_blank">Angular 2+</a> along with <a href="https://laravel.com/" target="_blank">Laravel</a> (php), <a href="https://nodejs.org/en/" target="_blank">Node.js</a> and custom (C++) backends.</p>

        <p>For my day to day development I opt for tools and services including AWS <a href="ht tps://aws.amazon.com/s3/" target="_blank">S3</a> & <a href="https://aws.amazon.com/cloudfront/" target="_blank">CloudFront</a>, <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>, <a href="http://lesscss.org/" target="_blank">LESS</a>, <a href="http://sass-lang.com/" target="_blank">Sass</a>, CSS, <a href="http://bulma.io/" target="_blank">Bulma</a>, <a href="https://webpack.github.io/" target="_blank">webpack</a>, <a href="https://httpd.apache.org/" target="_blank">Apache</a>, <a href="https://nginx.org/en/" target="_blank">nginx</a>, <a href="https://www.mysql.com/" target="_blank">MySQL</a>, <a href="https://mariadb.org/" target="_blank">MariaDB</a>, <a href="https://expressjs.com/" target="_blank">Express.js</a> and <a href="https://www.ubuntu.com/" target="_blank">Ubuntu</a>.</p>

        <p>Outside of the development world I enjoy supporting my sports team (<a href="http://www.essendonfc.com.au/" target="_blank">Essendon</a>, <a href="http://www.bradfordcityfc.co.uk/" target="_blank">Bradford City</a>, <a href="http://losangeles.angels.mlb.com/index.jsp?c_id=ana" target="_blank">Angels</a> and many more), travelling and quiet weekends.</p>

        <p>On the social media front I can be found on Twitter at <a href="https://twitter.com/" target="_blank">@bomberaza</a>.</p>

        <p>For my complete CV please checkout my <a href="https://www.linkedin.com/in/aaronheathau/" target="_blank">LinkedIn profile</a>.</p>

        <p>To contact me directly I recommend either sending <a href="https://twitter.com/bomberaza" target="_blank">DM via Twitter</a> or an <a href="mailto:aaron@aaronheath.com" target="_blank">email</a>.</p>

      </div>
    </div>
  </div>
</main>
