<app-nav-header [title]="article?.title" [subtitle]="article?.published_formatted" *ngIf="!textHeading"></app-nav-header>

<main>
  <div class="section">
    <div class="container">
      <!-- Loading animation when fetching -->
      <div class="columns is-mobile" *ngIf="!hasArticle()">
        <div class="column is-2 is-offset-5">
          <div class="loader is-section-loader"></div>
        </div>
      </div>

      <!-- Display article -->
      <div *ngIf="hasArticle()">
        <div *ngIf="textHeading">
          <h1 class="title is-2">{{ article.title }}</h1>
          <h2 class="subtitle is-4">{{ article.published_formatted }}</h2>
          <hr>
        </div>

        <div class="content" [innerHTML]="article.content"><!-- --></div>

        <div class="columns">
          <p class="column is-12">
            Tags:
            <span *ngFor="let tag of article.tags">
            <a [routerLink]="['/articles/tag', tag]" class="tag is-primary">{{ tag }}</a>
          </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
