<app-nav-header title="Aaron Heath" subtitle="Full Stack Web Developer from Adelaide, Australia" extraClasses="is-medium"></app-nav-header>

<!--<section class="hero is-medium is-primary is-bold">-->
  <!--<div class="hero-body">-->
    <!--<div class="container">-->
      <!--<h1 class="title">-->
        <!--Aaron Heath-->
      <!--</h1>-->
      <!--<h2 class="subtitle">-->
        <!--Full Stack Web Developer from Adelaide, Australia-->
      <!--</h2>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<section>
  <div class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">My Latest Article</h1>
      </div>
    </div>
  </div>
</section>

<app-article [article]="article" [textHeading]="textHeading"></app-article>
